{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ student.name  }}'s Details{% endblock title %}


{% block content %}
  <div class="jumbotron">
    <h3 class="h3-textstyle">{{ student.name }} {{ student.surname }}</h3>
    <table class="courses-list-table">
      <tbody>
      <tr>
        <td>Birthday</td>
        <td>{{ student.date_of_birth }}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{ student.address }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ student.email }}</td>
      </tr>
      <tr>
        <td>Skype</td>
        <td>{{ student.skype }}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ student.phone }}</td>
      </tr>
      <tr>
        <td>Courses</td>
        <td>{% for i in student.courses.all %}
          <a href="{% url 'courses:detail' i.id %}">{{ i|linebreaks }}</a>
          {% endfor %}
        </td>
      </tr>


      </tbody>
    </table>
  </div>
{% endblock content %}
