{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Students List{% endblock title %}


{% block nav_class_students %}active{% endblock %}


{% block content %}
  <p>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  </p>
  <div class="jumbotron">
    <a href="{% url 'students:add' %}" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-plus-sign"></span>Create new student</a>
    <h3 class="h3-textstyle">Students List:</h3>
    <table class="courses-list-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Surname Name</th>
        <th>Address</th>
        <th>Skype</th>
        <th>Courses</th>
      </tr>
      </thead>
      <tbody>
      {% for item in student_list %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="{% url 'students:detail' item.id %}">{{ item.surname }} {{ item.name }}</a></td>
          <td>{{ item.address }}</td>
          <td>{{ item.skype }}</td>
          <td>{% for i in item.courses.all %}
                <a href="{% url 'courses:detail' i.id %}">{{ i|linebreaks }}</a>
              {% endfor %}</td>
          <td><a href="{% url 'students:edit' item.pk %}" type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>Edit</a></td>
          <td><a href="{% url 'students:remove' item.pk %}" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-sign"></span>Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
      <div>
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}{{ var }}"><< previous</a></li>
          {% endif %}
          {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
              <li class="active"><a href="?page={{ page }}{{ var }}">{{ page }}</a></li>
            {% else %}
              <li><a href="?page={{ page }}{{ var }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}{{ var }}">next >></a></li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>
{% endblock content %}
