<div class="jumbotron">
    <h2 class="h2-textstyle">Academy Python Courses</h2>
    <p class="text-justify">
      Python Academy is specialized in Python training. We offer Open Courses as well as Company Courses for learning the
      programming language Python. There are two types of introductory courses: Python for Non-Programmers requiring no
      prior programming experience and Python for Programmers assuming some general knowledge about programming.
      Furthermore, we offer modules for Special Topics that can be freely combined for company courses. We also offer a
      course Python for Scientists and Engineers dedicated to scientific and technical topics.
    </p>

</div>
