{% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}{{ var }}"><< previous</a></li>
{% endif %}
{% for page in page_obj.paginator.page_range %}
  {% if page == page_obj.number %}
    <li class="active"><a href="?page={{ page }}{{ var }}">{{ page }}</a></li>
  {% else %}
    <li><a href="?page={{ page }}{{ var }}">{{ page }}</a></li>
  {% endif %}
{% endfor %}
{% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}{{ var }}">next >></a></li>
{% endif %}