{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Contacts{% endblock title %}


{% block nav_class_contact %}active{% endblock %}


{% block content %}
<!-- Example row of columns -->
  <div class="row contacts-padding">
    <div class="col-lg-4">
      <div class="contacts-img">
        <img alt="founder" src="{% static 'images/founder.jpg' %}">
      </div>

      <h2 class="h2-contacts-style">Founder</h2>
      <ul class="contacts-text">
        <li>Name: Jack Johnson</li>
        <li>Skype: j.johnson</li>
        <li>Email: jjohnson@academy.org</li>
        <li>Phone: 1-837-373-636-36</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <div class="contacts-img">
        <img alt="director" src="{% static 'images/director.jpg' %}">
      </div>
      <h2 class="h2-contacts-style">Director</h2>
      <p class="contacts-text">
      <ul class="contacts-text">
        <li>Name: Tom Simpson</li>
        <li>Skype: tom.simpson</li>
        <li>Email: tsimpson@academy.org</li>
        <li>Phone: 1-800-373-655-31</li>
      </ul>
    </div>
    <div class="col-lg-4">
      <div class="contacts-img">
        <img alt="manager" src="{% static 'images/manager.jpg' %}">
      </div>
      <h2 class="h2-contacts-style">Manager</h2>
      <ul class="contacts-text">
        <li>Name: Anna Tomenko</li>
        <li>Skype: anna.tomenko</li>
        <li>Email: atomenko@academy.org</li>
        <li>Phone: 1-992-370-006-36</li>
      </ul>
    </div>
  </div>
{% endblock content %}