{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Feedback{% endblock title %}


{% block nav_class_feedback %}active{% endblock %}


{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <div class="jumbotron">
    <h3 class="h3-textstyle">Please, leave your feedback below:</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-success" value="Leave Feedback">
    </form>
  </div>
{% endblock content %}
