
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="SDAcademy Web">
    <meta name="author" content="Grygoriy Klymchuk">
    

    <title>Academy Main</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        
        <nav class="nav-justified">
            <img alt="Logo" src="../static/images/logo.png">
						  			
          <ul class="nav nav-justified">
 		        <li class="active"><a href="#">Main</a></li>
            <li><a href="contact.html">Contacts</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2 class="h2-textstyle">Academy Course Description</h2>
        <p class="text-justify">
          This two-part course is designed to help students with very little or no computing background learn the basics of building simple interactive applications. Our language of choice, Python, is an easy-to learn, high-level computer language that is used in many of the computational courses offered on Coursera. To make learning Python easy, we have developed a new browser-based programming environment that makes developing interactive applications in Python simple. These applications will involve windows whose contents are graphical and respond to buttons, the keyboard and the mouse.
        </p>
        <p class="text-justify">
          The primary method for learning the course material will be to work through multiple "mini-projects" in Python. To make this class enjoyable, these projects will include building fun games such as Pong, Blackjack, and Asteroids. When you’ve finished our course, we can’t promise that you will be a professional programmer, but we think that you will learn a lot about programming in Python and have fun while you’re doing it.
        </p>
        <p class="text-justify">
          Although Python is an easy to learn and powerful programming language as it is known in common parlance, there is nevertheless need of a good introduction and tutorial on the Python language. 

          Why yet another documentation and tutorial on Python? Aren't there enough websites with tutorials and books dealing with Python? Isn't there already everything said about this great programming language? 

          Yes, there are lots of tutorials and introductions, but we wanted to present a different approach, with other - more interesting - examples, better explanatory diagrams and so on. We had a lot to build on, above all the longstanding experience of Bernd Klein as a computer scientist and Python lecturer. Actually, this online course is based on the material from the classroom training courses of Bodenseo and his book on Python. 
        </p>  
        
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h3 class="header3-style">What you will learn</h3>
            <ul class="text-justify">
              <li>History and Philosophy of Python</li>
              <li>Interactive Mode</li>
              <li>Structuring with Indentation</li>
              <li>Data Types and Variables</li>
              <li>Operators</li>
              <li>input and raw_input via the keyboard</li>
              <li>Conditional Statements</li>
              <li>Loops</li>
              <li>Formatted output</li>
              <li>Output with Print</li>
              <li>Sequential Data Types</li>
              <li>Dictionaries</li>
              <li>Functions</li>
              <li>Recursion and Recursive Functions</li>
              <li>Tests, DocTests, UnitTests</li>
              <li>Memoization and Decorators</li>
              <li>Passing Arguments</li>
              <li>Namespaces</li>
              <li>Global vs. Local Variables</li>
              <li>File Management</li>
              <li>Modular Programming and Modules</li>
              <li>Introduction in Regular Expressions</li>
              <li>Regular Expressions, Advanced</li>
              <li>Lambda Operator, Filter, Reduce and Map</li>
              <li>List Comprehension</li>
              <li>Generators</li>
              <li>Exception Handling</li>
              <li>Object Oriented Programming</li>
              <li>Inheritance Example</li>
              <li>Classes and Class Creation</li>
              <li>Road to Metaclasses</li>
              <li>Metaclasses</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h3 class="header3-style">Recommended Background</h3>
          <p class="text-justify">
            A knowledge of high school mathematics is required. While the class is designed for students with no prior programming experience, some beginning programmers have viewed the class as being fast-paced. For students interested in some light preparation prior to the start of class, we recommend a self-paced Python learning site such as <a href="http://codecademy.com">codecademy.com</a> 
          </p>
          <p class="text-justify">
            The only requirement for the class is access to a modern web browser. All coding and program development will be done in a web-based programming environment that supports building interactive applications in Python. The programs that you create will be saved, shared and graded via the cloud.
          </p>
       </div>
        <div class="col-lg-4">
          <h3 class="header3-style">Benefits</h3>
          <p class="text-justify">
            Students who enroll in Signature Track will receive a certificate signed by Joe, Scott, John, and Stephen. Note that the class does not offer a Statement of Accomplishment to students who are not enrolled in Signature Track.
          </p>
          
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2016 SD Academy</p>
      </footer>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

