{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Academy Main{% endblock title %}


{% block nav_class_index %}active{% endblock %}


{% block content %}
  <p>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  </p>

{% include 'include/descr_include.html' %}

  <div class="jumbotron">
    <a href="{% url 'courses:add' %}" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-plus-sign"></span>Add New Course</a>
    <h3 class="h3-textstyle">Courses Available:</h3>
    <table class="courses-list-table">
      <thead>
      <tr>
        <th>Course</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      {% for item in course %}
        <tr>
          <td><a href="{% url 'courses:detail' item.pk %}">{{ item|upper }}</a></td>
          <td>{{ item.short_description|title }}</td>
          <td><a href="{% url 'courses:edit' item.pk %}" type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>Edit</a></td>
          <td><a href="{% url 'courses:remove' item.pk %}" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-sign"></span>Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}


