
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="SDAcademy Web">
    <meta name="author" content="Grygoriy Klymchuk">
    

    <title>Students</title>
    
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

  </head>

  <body>
    
    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        
        <nav class="nav-justified">
            <img alt="Logo" src="{% static 'images/logo.png' %}">
						  			
          <ul class="nav nav-justified">
 		        <li><a href="{% url 'index' %}">Main</a></li>
            <li><a href="{% url 'contact' %}">Contacts</a></li>
            <li class="active"><a href="{% url 'student_list' %}">Students</a></li>
            <li><a href="{% url 'results' %}">Equation</a></li>
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2 class="h2-students">Academy Students List</h2>
        <p class="text-justify expl-to-header">
          Current course students list
        </p>
        <table class="students-list-tab">
          <thead>
            <tr>
              <th>No</th>
              <th>Surname</th>
              <th>Name</th>
              <th>Address</th>
              <th>Skype</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickablerow" onclick="window.document.location='/student_detail/';">
              <td>1</td>
              <td>Pippenger</td>
              <td>Denver</td>
              <td>547 Park Drive, Parsippany, NJ 07054</td>
              <td>pdenver</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Plumber</td>
              <td>Bryon</td>
              <td>40 Broadway,Sevierville, TN 37876</td>
              <td>pbryon</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Doyel</td>
              <td>Nancie</td>
              <td>274 Howard Street, New Bern, NC 28560</td>
              <td>dnancy</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Waldrup</td>
              <td>Dara</td>
              <td>366 Bridle Lane, Mcdonough, GA 30252</td>
              <td>wdara</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Shand</td>
              <td>Dixie</td>
              <td>954 Oxford Road, Downers Grove, IL 60515</td>
              <td>sdixie</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Pecora</td>
              <td>Gene</td>
              <td>28 Grant Avenue, Morganton, NC 28655</td>
              <td>pgene</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Harstad</td>
              <td>Patsy</td>
              <td>913 Fawn Lane, Daphne, AL 36526</td>
              <td>hpatsy</td>
            </tr>
          </tbody>
        </table>
      </div>

      

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2016 SD Academy</p>
      </footer>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>

