{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Student List{% endblock title %}


{% block nav_class_students %}active{% endblock %}


{% block content %}
  <div class="jumbotron">
    <h2 class="h2-students">Academy Students List</h2>
    <p class="text-justify expl-to-header">
      Current course students list
    </p>
    <table class="students-list-tab">
      <thead>
      <tr>
        <th>No</th>
        <th>Surname</th>
        <th>Name</th>
        <th>Address</th>
        <th>Skype</th>
      </tr>
      </thead>
      <tbody>
      <tr class="clickablerow" onclick="window.document.location='/student_detail/';">
        <td>1</td>
        <td>Pippenger</td>
        <td>Denver</td>
        <td>547 Park Drive, Parsippany, NJ 07054</td>
        <td>pdenver</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Plumber</td>
        <td>Bryon</td>
        <td>40 Broadway,Sevierville, TN 37876</td>
        <td>pbryon</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Doyel</td>
        <td>Nancie</td>
        <td>274 Howard Street, New Bern, NC 28560</td>
        <td>dnancy</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Waldrup</td>
        <td>Dara</td>
        <td>366 Bridle Lane, Mcdonough, GA 30252</td>
        <td>wdara</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Shand</td>
        <td>Dixie</td>
        <td>954 Oxford Road, Downers Grove, IL 60515</td>
        <td>sdixie</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Pecora</td>
        <td>Gene</td>
        <td>28 Grant Avenue, Morganton, NC 28655</td>
        <td>pgene</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Harstad</td>
        <td>Patsy</td>
        <td>913 Fawn Lane, Daphne, AL 36526</td>
        <td>hpatsy</td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}

